{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'carts:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ home_url }}">
      <img src="{% static 'img/ByteCart_Logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="ByteCart Logo">
      {% if brand_name %} {{ brand_name }} {% else %} ByteCart {% endif %}
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link {% if request.path == home_url %}fw-bold active{% endif %}" href="{{ home_url }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.path == contact_url %}fw-bold active{% endif %}" href="{{ contact_url }}">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.path == product_list_url %}fw-bold active{% endif %}" href="{{ product_list_url }}">Products</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <form method="POST" action="{{ logout_url }}">
            {% csrf_token %}
            <button class="nav-link btn btn-link text-white" style="text-decoration: none;" type="submit">
              Logout
            </button>
          </form>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == register_url %}fw-bold active{% endif %}" href="{{ register_url }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}fw-bold active{% endif %}" href="{{ login_url }}">Login</a>
          </li>
        {% endif %}
            <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}fw-bold active{% endif %}" href="{{ cart_url }}">{{ request.session.cart_items }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg></a>
          </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>

      {% include "search/snippets/search-form.html" %}
    </div>
  </div>
</nav>
