{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #13778a;">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="{{ home_url }}">
      <img src="{% static 'img/ByteCart_Logo.png' %}" style="max-height: 36px; width: auto;" class="me-2" alt="ByteCart Logo">

      
      {% if brand_name %} {{ brand_name }} {% else %} ByteCart {% endif %}
    </a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link {% if request.path == home_url %}fw-bold active{% endif %}" href="{{ home_url }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.path == contact_url %}fw-bold active{% endif %}" href="{{ contact_url }}">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.path == product_list_url %}fw-bold active{% endif %}" href="{{ product_list_url }}">Products</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <form method="POST" action="{{ logout_url }}">
            {% csrf_token %}
            <button class="nav-link btn btn-link text-white px-0" style="text-decoration: none;" type="submit">
              Logout
            </button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == register_url %}fw-bold active{% endif %}" href="{{ register_url }}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == login_url %}fw-bold active{% endif %}" href="{{ login_url }}">Login</a>
        </li>
        {% endif %}

        <!-- Cart link -->
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center {% if request.path == cart_url %}fw-bold active{% endif %}" href="{{ cart_url }}">
              <img src="{% static 'img/icons/cart.png' %}" alt="Cart" width="24" class="me-1">
              <span class="cart-count">{{ request.session.cart_items|default:0 }}</span>
            </a>
        </li>


      </ul>

      <!-- Search form -->
      {% include "search/snippets/search-form.html" %}
    </div>
  </div>
</nav>
